<%= form_tag do %>

  <p>
    <label>Field
      <%= text_field_tag(:fieldname) %>
    </label>
  </p>
  
  <%= form_actions do %>
    <%= submit_button_tag %>
    <%= cancel_button_tag(url: '#') %>
  <% end %>
  
<% end %>
