<h1>Accordions</h1>

<p>
  <%=link_to 'Bootstrap Documentation', 'http://twitter.github.io/bootstrap/javascript.html#collapse' %>
  <br>
  <%= link_to('API Documentation', 'http://rubydoc.info/gems/bootstrap-view-helpers/Bootstrap/AccordionHelper') %>
</p>

<h2>Example</h2>
<%= render partial: 'accordions' %>

<h2>Source</h2>
<%= bvh_show_source('bootstrap_view_helpers/_accordions') %>

<hr>

<h2>Example with multiple groups open at the same time</h2>
<%= render partial: 'multiple_accordions' %>

<h2>Source</h2>
<%= bvh_show_source('bootstrap_view_helpers/_multiple_accordions') %>

