<h1>Alerts</h1>

<p>
  <%=link_to 'Bootstrap Documentation', 'http://twitter.github.io/bootstrap/components.html#alerts' %>
  <br>
  <%= link_to('API Documentation', 'http://rubydoc.info/gems/bootstrap-view-helpers/Bootstrap/AlertHelper') %>
</p>

<h2>Standard Bootstrap Alert Types</h2>

<h3>Examples</h3>
<%= render partial: 'alert_types' %>

<h3>Source</h3>
<%= bvh_show_source('bootstrap_view_helpers/_alert_types') %>

<h2>Alert Options</h2>

<h3>Examples</h3>
<%= render partial: 'alert_options' %>

<h3>Source</h3>
<%= bvh_show_source('bootstrap_view_helpers/_alert_options') %>

<h2>Block Form</h2>

<h3>Examples</h3>
<%= render partial: 'alert_block' %>

<h3>Source</h3>
<%= bvh_show_source('bootstrap_view_helpers/_alert_block') %>
