<h1>Examples</h1>

<div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div><div>
<%= badge('Default') %>
</div>