<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'nav_bar' %>
  <div class='row'>
    <div class='span3'>
      <%= render partial: 'side_bar' %>
    </div>
    <div class='span9'>
      <%= yield %>
    </div>
</body>
</html>
